{{ $sass := resources.Get "sass/portfolio.scss" }}
{{ $style := $sass | resources.ToCSS | resources.Fingerprint }}
<link rel="stylesheet" href="{{ $style.Permalink }}" integrity="{{ $style.Data.Integrity }}">

<div class="portfolio-container">
    <div class="card-container">
      <div class="card-1">
        <div class="colour-1"></div>
        <p>First Project Tile</p>
      </div>
      <div class="card-2">
        <div class="colour-2"></div>
        <p>Second Project Tile</p>
      </div>
      <div class="card-3">
        <div class="colour-3"></div>
        <p>Third Project Tile</p>
      </div> 
    </div>
    <div class="project-details">
  
    </div>
</div>